*/.DS_Store
build
lib
bin

tags
.vscode
.vimrc

3rdparty/live555/
mlu/MLU270/include/cn_codec_common.h
mlu/MLU270/include/cn_codec_define.h
mlu/MLU270/include/cn_codec_memory.h
mlu/MLU270/include/cn_jpeg_dec.h
mlu/MLU270/include/cn_jpeg_enc.h
mlu/MLU270/include/cn_video_dec.h
mlu/MLU270/include/cn_video_enc.h
mlu/MLU270/include/cnrt.h
mlu/MLU270/libs/x86_64/libcncodec.so
mlu/MLU270/libs/x86_64/libcncodec.so.1.4.0.0224
mlu/MLU270/libs/x86_64/libcnrt.so
mlu/MLU270/libs/x86_64/libcnrt.so.4.2.1.0224
tools/build_live555.done
data/models/
samples/demo/files.list_image
samples/demo/files.list_video
samples/ssd/a.mp4
samples/ssd/a.out
samples/ssd/aa
samples/ssd/demo1.cpp
samples/ssd/files.list_image
samples/ssd/files.list_video
samples/ssd/postprocess_ssd.cpp
samples/ssd/test.jpg
