*/.DS_Store
build
lib
bin

tags
.vscode
.vimrc

3rdparty/live555/
mlu/MLU270/include/cn_codec_common.h
mlu/MLU270/include/cn_codec_define.h
mlu/MLU270/include/cn_codec_memory.h
mlu/MLU270/include/cn_jpeg_dec.h
mlu/MLU270/include/cn_jpeg_enc.h
mlu/MLU270/include/cn_video_dec.h
mlu/MLU270/include/cn_video_enc.h
mlu/MLU270/include/cnrt.h
mlu/MLU270/libs/x86_64/libcncodec.so
mlu/MLU270/libs/x86_64/libcncodec.so.1.4.0.0224
mlu/MLU270/libs/x86_64/libcnrt.so
mlu/MLU270/libs/x86_64/libcnrt.so.4.2.1.0224
tools/build_live555.done
data/models/
samples/demo/files.list_image
samples/demo/files.list_video
samples/ssd/a.mp4
samples/ssd/a.out
samples/ssd/aa
samples/ssd/demo1.cpp
samples/ssd/files.list_image
samples/ssd/files.list_video
samples/ssd/postprocess_ssd.cpp
samples/ssd/test.jpg
samples/ssd/cncodec/Makefile
samples/ssd/cncodec/README.md
samples/ssd/cncodec/cmake/
samples/ssd/cncodec/data/
samples/ssd/cncodec/include/
samples/ssd/cncodec/src/common/
samples/ssd/cncodec/src/decode/src/1080p.h264
samples/ssd/cncodec/src/decode/src/a.out
samples/ssd/cncodec/src/decode/src/cars.h264
samples/ssd/cncodec/src/decode/src/cars.mp4
samples/ssd/cncodec/src/encode/
samples/ssd/cncodec/src/jdecode/src/1024x768.jpg
samples/ssd/cncodec/src/jdecode/src/1920x1080.jpg
samples/ssd/cncodec/src/jdecode/src/320x240.jpg
samples/ssd/cncodec/src/jdecode/src/4096x2160.jpg
samples/ssd/cncodec/src/jdecode/src/640x480.jpg
samples/ssd/cncodec/src/jdecode/src/a.out
samples/ssd/cncodec/src/jdecode/src/output.jpg
samples/ssd/cncodec/src/jencode/
samples/ssd/cncodec/src/transcode/
samples/ssd/cncodec/src/transcode_demo/
